{% extends "base.html" %}

{% block content %}

{% if 'https' in book.cover_picture|stringformat:"s" %}
    <a href="#"><img src="{{ book.cover_picture }}" width="75"></a>
{% else %}
    <a href="#"><img src="{{ book.cover_picture.url }}" width="75"></a>
{% endif %}

<h3>{{ book.title }}</h3>
by
{% for author in book.author.all %}
    <a href="#">{{author}}</span></a><br>
{% endfor %}
<br>
<p>{{ book.summary }}</p>

<form action="{% url 'books:book_delete_confirm' %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>
<p>
{% endblock%}