{% extends 'base.html' %}

{% block title %}Books List{% endblock %}

{% block content %}
{% if book_list %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Book Title</th>
        </tr>
      </thead>
      <tbody>
        {% for book in book_list %}
          <tr>
            <td>{{ book.isbn }}</td>
            <td><a href="{% url 'books:book-detail' pk=book.isbn %}"">{{ book.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No books are added yet.</p>
{% endif %}


{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="disabled"><span>Previous</span></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{ 1 }}">1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ 2 }}">2</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ 3 }}">3</a></li>
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a></l>
        {% else %}
      <li class="disabled"><span>Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}