{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Greads</li>
{% endblock %}

{% block content %}

<div class="leftContainer">
    <div id="browsebox">
      <h3>Search and browse books</h3>
      <div id="searchbox">

      {% csrf_token %}
          <input class="form-control mr-sm-2" id="search" name="search" type="text" placeholder="Search" aria-label="Search">
          <ul id="search-results">
            
          </ul>
          <br>
      </div>
      
      <div class="u-defaultType">
      <div class="columnLeft" style="width: 25%">
              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Art' %}">Art</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Biography' %}">Biography</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Business' %}">Business</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Childrens' %}">Children's</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Christian' %}">Christian</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Classics' %}">Classics</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Comics' %}">Comics</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Cookbooks' %}">Cookbooks</a><br>

      </div>
      <div class="columnLeft" style="width: 25%">
              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Ebooks' %}">Ebooks</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Fantasy' %}">Fantasy</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Fiction' %}">Fiction</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Graphic Novels' %}">Graphic Novels</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Historical Fiction' %}">Historical Fiction</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'History' %}">History</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Horror' %}">Horror</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Memoir' %}">Memoir</a><br>

      </div>
      <div class="columnLeft" style="width: 25%">
              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Music' %}">Music</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Mystery' %}">Mystery</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Nonfiction' %}">Nonfiction</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Poetry' %}">Poetry</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Psychology' %}">Psychology</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Romance' %}">Romance</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Science' %}">Science</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Science Fiction' %}">Science Fiction</a><br>

      </div>
      <div class="columnLeft" style="width: 25%">
              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Self Help' %}">Self Help</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Sports' %}">Sports</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Thriller' %}">Thriller</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Travel' %}">Travel</a><br>

              <a class="gr-hyperlink" href="{% url 'books:genre-detail' 'Young' %}">Young Adult</a><br>

              <a class="gr-hyperlink" href="#">More genres</a>
              <br>
              <br>
              <br>

      </div>
  </div>
  </div>
  </div>
  <br>
  <br>
  <section id="updates">
    <div class="section-content">
      <div class="container">
        <h3>Want to add books to shelves?</h3>
        <p class="lead"></p>
        <div class="row">
          <div class="col-sm-12">
            <div class="card-group">
              <div class="card">
                <div class="card-block">
                  <h5 class="card-title">CURRENTLY READING</h5>
                </div>
                <div class="card-block">
                  <p class="card-text">What are you reading?</p>
                  <form class="form-inline" method="GET" action="{% url 'books:search' %}">
                  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h5 class="card-title">2019 READING CHALLENGE</h5>
                </div>
                <div class="card-block">
                  <p class="card-text">Set your reading challenge this year</p>
                  <button type="button" class="btn btn-outline-success" data-toggle="Modal" data-target="#MyModal">Save</button>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h5 class="card-title">WANT TO READ</h5>
                </div>
                <div class="card-block">
                  <p class="card-text">What do you want to read next?</p>
                  <form class="form-inline" method="GET" action="{% url 'books:search' %}">
                  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}