{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text logo my-4">
      Profile
    </h1>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
        <h5 class="card-title">@{{ user }}</h5>
        <img src="{{ user.profile.avatar.url }}" width="150">
        <p class="card-text">First Name       : {{ user.first_name }} <br>
                             Last Name        : {{ user.last_name }} <br>
                             Email            : {{ user.email}} <br>
                             Location         : {{ user.profile.location }} <br>
                             Date Of Birth    : {{ user.profile.birth_day }} <br>
                             Bio              : {{ user.profile.bio }}</p> <br>

        <form action="{% url 'accounts:edit_profile' %}" method="GET">
        {% csrf_token %}
        <input type="submit" value="Edit">
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}